@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --card-bg-color: #1D1C19;
    --card-details-color: #9B072E;
    --match-separator-color: #323238;
    --time-color: #E1E1E6;
}

ul {
    list-style: none;
}

body {
    background: var(--bg-color) url(../img/bg.svg) no-repeat top center/cover;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: auto;
    padding-block: 5.2rem;
}

header {
    margin-bottom: 3.5rem;
    text-align: center;
}

header img {
    width: 13rem;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card {
    padding: 3.2rem 2.3rem;
    text-align: center;
    background-color: var(--card-bg-color);
    border-bottom: 0.2rem solid var(--card-details-color);
    border-radius: 0.6rem;
}

.card h2 {
    font-size: 2.2rem;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.6rem;
    border: 0.1rem solid var(--card-details-color);
    border-radius: 0.6rem;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 5.3rem;
    color: var(--card-details-color);
}

.card h2 span {
    color: var(--time-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 25rem;
}

.card ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card ul li+li {
    padding-top: 2.4rem;
    border-top: 0.1rem solid var(--match-separator-color);
}

.card ul li img {
    border: 0.1rem solid var(--match-separator-color);
    border-radius: 50%;
}

.card ul li strong {
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 125%;
    color: var(--time-color);
}

header img:hover,
.card h2:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

header img,
.card h2,
.card ul li img {
    transition: transform 0.3s;
}

.card {
    opacity: 0;
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        transform: translateX(-5rem);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    #cards {
        flex-direction: row;
    }
}